@import url('<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap" rel="stylesheet">');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color)
}
section {
    min-height:  100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--second-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 600; 
}

.navbar a:hover,
.navbar a.active {
    color:#0ef;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 500;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
span {
    color: var(--main-color);
}
.home-content h2 {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.2;
}

.home-img img {
    width: 20vw;
    animation: floatImage 4s ease-in-out infinite;
    border-radius: 8px;
}
@keyframes floatImage{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }
}
.home-content p {
    font-size: 1.6rem;
}
.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--second-bg-color);
}

.about-img img {
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
}
.heading {
    text-align: left;
    font-size: 4.5rem;  
    padding-bottom: 40px; 
}

.about-content {
    flex: 2;
    padding-left: 20px;
    text-align: right;
}

.about-content h2{
    text-align:left;
    line-height: 1.2;
    
}
.about-content h1{
    text-align:left;
    line-height: 1.2;
    
}
.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: left;
}
section {
    display: flex;
    flex-wrap: wrap;
}
.container1 {
    width: 500px;
    height: 600px;
    padding: 50px 70px;
    margin-left: 120px;
}
.sub-title{
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
    padding-top: 10px;
    margin-top: 1rem;
    padding-left:630px;
    width: 50%;
}
.sub-title span{
    color: #0ef;
}
.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;  
    padding-top: 15px;  
    
}

.bar {
    font-size: 20px;
    padding-right: 15px;
    margin-left: 10px;
}

.Technical-bars .bar {
    margin: 30px 0;
    padding-left:10px ;
    
   
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: 0;
}

.Technical-bars .bar .info {
    margin-bottom: 5px;
}

.Technical-bars .bar .info span {
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    background-color: #0ef;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;   
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 75%;
}

.progress-line.javascript span {
    width: 85%;
}

.progress-line.java span {
    width: 80%;
}

.progress-line.react span {
    width: 65%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after {
    content: "90%";
}

.progress-line.css span::after {
    content: "75%";
}

.progress-line.javascript span::after {
    content: "85%";
}

.progress-line.java span::after {
    content: "80%";
}

.progress-line.react span::after {
    content: "65%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}
.heading12 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
    padding-top: 14.5px;
    padding-right: 15rem;
}
.radial-bars{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 50px;   
    padding-right: 20px;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stop-color: black;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100% {
        stroke-dashoffset: -1;
    }
}

.path {
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}

.path-1 {animation: animate-path1 1s 1s linear forwards;}

.path-2 {animation: animate-path1 1s 1s linear forwards;}

.path-3 {animation: animate-path1 1s 1s linear forwards;}

.path-4 {animation: animate-path1 1s 1s linear forwards;}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 50;;
    }
}

@keyframes animate-path12{
    100% {
        stroke-dashoffset: 175;;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 125;;
    }
}

@keyframes animate-path1 {
    100% {
        stroke-dashoffset: 75;;
    }
}

.radial-bar .percentage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.progress-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.experience h2{
    margin-bottom: 5rem;
    padding-left: 40%;
    
}
.experience-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.experience-container .experience-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s ease;
}
.experience-container .experience-box:hover{
    border-color: var(--main-color);
    transform: scale(1.02);
    
}
.experience-box a i{
    font-size: 3rem;
    color: var(--main-color);
}
.experience-box  i{
    font-size: 7rem;
    color: var(--main-color);
}
.experience-box h3{
    font-size: 2.6rem;
}
.experience-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}


.portfolio{
    background: var(--second-bg-color);
}
.portfolio h2{
    margin-top: 1rem;
    padding-left: 40%;
    font-size: 35px;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    align-items: center;
    padding-bottom: 5rem;
  
}
.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width: 100%;
    transition: .5s ease;
    opacity: 0.7;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),var(--main-color));
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 3rem;
}
.portfolio-layer p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer a{
    font-size: 2rem;
    color: var(--second-bg-color);
}

.contact { 
    background: var(--bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    padding-left: 40%;
    margin-top: 5rem;
    font-size: 35px;
}
.contact-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    padding-top: 5px;
  
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 20px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    margin-bottom: 3rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}
.contact-list li a:hover{
    transform: scale(1.01) translate(.5px);
    color: #0ef;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 5px;
    
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,.contact form textarea{
    
    width: 100%;
    padding: 18px;
    color: var(--text-color);
    font-size: 1.5rem;
    margin: .7rem 0;
    border-radius: .8rem;
    font-weight: 600;
    background: var(--second-bg-color);
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;   
}
.last-text{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: var(--second-bg-color); 
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    left: 2,1rem;
}
.top i{
    color: #000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}
@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .services{
        padding: 7rem;
    }
    .portfolio{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font: size 5rem;
    }
    .home-content{
        order: 2;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-img img{
        width: 90vw;
        margin-top: 4rem; 
    }
    .heading1 h1{
        margin-bottom: 3rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .portfolio h2{
        margin-bottom: 3rem;
    }
    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width: 617px){
    .portfolio-container{
        grid-row: 1fr;
    }
    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 100vw;
        margin-top: 4rem;
    }
}
@media(max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .input-box input{
        width: 100%;
    }
}